<li id="main-nav-bar" class="inline-block" data-hook>
  <div id="link-to-cart" data-hook>
    <noscript>
      <%= link_to Spree.t(:cart), '/cart' %>
    </noscript>
  </div>
  <script>Spree.fetch_cart()</script>
</li>
